<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title><%= title %></title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/chores.less" rel="stylesheet">
    <link href="css/styles.less" rel="/stylesheets/less" type="text/css"/>
    <script src="/js/choreView.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>
<body ng-app>
    <div class="container" ng-controller="choreCtrl">
       
        <div class="jumbotron">
            <h1>{{projectName}}</h1>
            <p class="lead">Split the workload between roomates. Enter a chore name and a <strong>Misery Index</strong> that indicates how terrible that chore is. The {{productName}} will then split the work up into N evenly distributed bins. This solution is a combinatorial optimization of the NP-Complete Knapsack problem using dynamic programming.</p>
        </div>

        <div>
            <div>People</div>
            <input ng-model="personName" />
            <button ng-click="addPerson()">Add</button>
        </div>
        
        <div>
            <div>Chores</div>
            <input ng-model="choreName" />
            <input ng-model="miseryIndex" />
            <button ng-click="addChore()">Add</button>
        </div>

        <div>
            <ul ng-repeat="chore in chores">
                <li>ChoreName:</li><input class="chore-name" ng-model="chore.choreName" />
                <input class="chore-misery" ng-model="chore.miseryIndex" />
                <span ng-click="removeChore($index)">x</span>
            </ul>
        </div>

        <button ng-click="calcAssignments()">Refresh</button>

        <ul ng-repeat="person in people">
            <span>{{person.name}}</span>
            <span ng-click="removePerson($index)">x</span>
            <li ng-repeat="chore in person.choreList">
                <span>{{chore.choreName}} (Misery Index: {{chore.miseryIndex}})</span>
            </li>
        </ul>
        
        <button ng-click="save()">Save</button>

        <div class="footer">
            <p>CSTR 2014</p>
        </div>
    </div>
</body>
</html>



